BASE_URL=https://your-test-env.com
API_BASE_URL=https://api.your-test-env.com
AUTH_USERNAME=user@example.com
AUTH_PASSWORD=changeme
SLOW_MO=0
BROWSERS=chromium,firefox,webkit

IDENTITY_SERVICE_URL=https://your-identity-service.com/identity
OAUTH_CLIENT_ID=your-client-id
OAUTH_CLIENT_SECRET=your-client-secret
OAUTH_SCOPE=api.example1 api.example2
VERIFY_SSL=true
